<h1>Here's Your Question</h1>

<table>
  <tr>
    <th>Question type</th>
    <th>Difficulty</th>
    <th>First num</th>
    <th>Second num</th>
    <th>Answer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @questions.each do |question| %>
  <tr>
    <td><%= question.question_type %></td>
    <td><%= question.difficulty %></td>
    <td><%= question.first_num %></td>
    <td><%= question.second_num %></td>
    <td><%= question.answer %></td>
    <td><%= link_to 'Show', question %></td>
    <td><%= link_to 'Edit', edit_question_path(question) %></td>
    <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Question', new_question_path %>
